.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav-links ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links ul li {
    display: inline-block;
  }
  
  .nav-links ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .nav-links ul li a:hover {
    color: #007BFF;
  }